
.L12Field {
  width: 250px;
  font-family: Roboto;
  font-size: 30px;
  line-height: 35px;
  font-weight: 100;
  color: #333;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.ul1 {
    display: flex;
    justify-content: space-between;
}
.ul2 {
    display: flex;
    justify-content: space-between;
}
.ul3 {
    display: flex;
    justify-content: space-between;
}
.ul4 {
    display: flex;
    justify-content: space-between;
}
.ul5 {
    display: flex;
    justify-content: space-between;
}
.ul6 {
    display: flex;
    justify-content: space-between;
}
.ul7 {
    display: flex;
    justify-content: space-between;
}
.ul8 {
    display: flex;
    justify-content: space-between;
}
